.detail-clinic-container {
    background-color: #eee;
    .detail-clinic-body{
        margin: 0 100px; 
        .search-sp-doctor{
            select{
                height: 30px;  
                padding: 5px 8px;
                border: none;
                outline: 3px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
    .description-clinic{
        padding: 10px;
        background-color: white !important;
        margin: 20px 0;
        border-radius: 20px;
        box-shadow: 0 1px 10px rgba(81, 87, 106, 0.28);
     
    }
    
    .each-doctor{
        display: flex;
        width: 100%;
        min-height: 300px;
        margin: 15px 0px;
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(81, 87, 106, 0.28);
        border-radius: 20px;
        padding: 10px;
        
        .content-left-dt{
            width: 50%;
            margin: 0 10px;
            padding: 10px;
            
        }
        .content-right-dt{
            width: 50%;
            padding: 10px;
            
            .doctor-schedule{
                .doctor-schedule-container{
                    border-right: unset !important;
                }
            }
            .doctor-extra-infor{
                border-top: 1px solid #ddd;
                margin-top: 10px;
                padding-top: 10px;
                .doctor-extra-infor-container{
                    padding-left: 0 !important;
                }
            }
        }
    }
    
    }
}